.project_summary

.buttons
  display: flex
  justify-content: space-evenly
  & .button
    display: flex
    justify-content: center
    align-items: center
    text-decoration: none
    width: 20%
    height: 40px
    margin: 15px

  & .link
    font-size: 1.15rem
    display: flex
    justify-content: center
    align-items: center
    text-decoration: none
    color: #1976d2
    width: 20%
    height: 40px
    margin: 15px
    border: 1px solid rgba(25, 118, 210, 0.5)
    border-radius: 4px

.link:hover
  border-color: #00ABE4
  color: #FFFFFF
  background-color: #00ABE4

