%forms
  display: flex
  justify-self: center
  align-self: center
  flex-direction: column
  background-color: #91C8E4
  border-radius: 30px

  & :global(.TextField)
    margin: 1rem
      top: 0
      bottom: 0.75rem

  & :global(.Button)
    margin: 1rem
      top: 0
      bottom: 0.5rem