.body
  display: flex
  flex-direction: column
  & h2
    margin-left: 15px

.nav_bar
  display: flex
  flex-direction: row
  width: 40%
  margin-left: 15px

.projectsPlans
  display: flex
  flex-direction: row
  flex-wrap: wrap

.projectPlan
  font-size: 1.2rem
  display: flex
  justify-content: center
  align-items: center
  text-decoration: none
  color: black
  width: 30%
  height: 40px
  margin: 15px
  border: black 1px solid

  &:hover
    background: #91C8E4